


body{
background: linear-gradient(rgb(75, 5, 5) , black);
padding: 0%;
margin: 0%;
}


.logo{
  border-bottom: 1px solid rgba(226, 223, 223, 0.341);
  max-height: 150px;
  height: 100%;
  display: flex;
  align-items: center;

}

.img{
  margin-left: 10%;
  max-width: 100px;
  width: 100%;
  height: auto;
  
}

.sign{
  color:white;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: 50px;
  height: 100vh;



}

.Text{
  margin-bottom: 1% ;
}

.text1{
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 0%;
  margin-bottom: 0%;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.text2{
  font-size:  20px;
  margin-top: 2%;
  color:rgb(211, 211, 211)

  
}

.imput{
flex-direction: column;
margin-bottom: 20px;
display: flex;
max-width: 350px;


}

.tx{
height: 50px;
width: 380px;
font-size:15px ;
border-radius: 6px;
margin-bottom: 2.5%;
background-color: rgb(20, 20, 20);
border: 1px solid gray;
color: rgb(232, 227, 227);

}

.btn{
height: 50px;
width: 380px;
font-size: 15px;
background-color: rgb(218, 3, 3);
color: white;
font-weight: 700;
border-radius: 6px;

}


.lista{
margin-bottom: 30px;

}

.ls a{
display: block; /* convierte cada a en bloque*/
flex-direction: column;
color:white;
margin-bottom: 2%;
}
